/**
 * The Windows Phone 8 themes
 * http://msdn.microsoft.com/library/windows/apps/ff402557%28v=vs.105%29.aspx
 */
.bg-Lime {background: #a3c315 !important;}
.bg-Green {background: #5ea81e !important;}
.bg-Emerald {background: #00890a !important;}
.bg-Teal {background: #00aaa8 !important;}
.bg-Cyan {background: #1ea1e0 !important;}
.bg-Cobalt {background: #0f51ed !important;}
.bg-Indigo {background: #6b0ffd !important;}
.bg-Violet {background: #aa0ffd !important;}
.bg-Pink {background: #f472ce !important;}
.bg-Magenta {background: #d70472 !important;}
.bg-Crimson {background: #a10124 !important;}
.bg-Red {background: #e41502 !important;}
.bg-Orange {background: #f96707 !important;}
.bg-Amber {background: #efa216 !important;}
.bg-Yellow {background: #d7c014 !important;}
.bg-Brown {background: #81592c !important;}
.bg-Olive {background: #6c8664 !important;}
.bg-Steel {background: #637586 !important;}
.bg-Mauve {background: #756089 !important;}
.bg-Sienna {background: #9f512d !important;}
